h1{
    background: linear-gradient(to left , #a0d8ef,#6359f0 );
    color:#00ff63;
    text-align: center;
    font-family: fantasy;
}
h2{
    background: linear-gradient(.25turn,white, #ffefaf);
}
html{
    background-color:rgb(23, 167, 228);
}
.bg_test {
    background-image: url(/Users/kawakamihiroshi/Documents/medialabo/iedomo02_vb1920x1080.jpg);    /* 背景画像指定 */
}