p {
	color: navy;
	padding: 5px;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	/*border: solid 1px black;*/
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(.25turn,white, #ffefaf);
}

div#zentai {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
	grid-gap: 10px;
}

div#zentai > div {
	margin-left: 10px;
	background-color: #ffefaf;
}
img.sign {
    float: right;   /* 画像を右に浮かせる */

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}